#select-city{

}
#select-city-second{

}

#main-map {
  height:500px;
  width:500px;
  display: inline-block;
  margin-left: 20px;
  border: 1px solid black;
}

#select-div{
  /* margin: auto; */
  text-align: center;
  padding: 5px;
}
#map-and-weather{
  margin: auto;
  width: 1000px
}
#city-weather{
  display: inline-block;
  vertical-align: top;
  margin: 10px
}

#line-chart{
  max-width: 1000px;
  margin: auto;
}

.city-info{
  border: 1px black solid;
  padding: 5px;
  margin: 10px;

  align-content: center;
  background-color: #e8effc;

}

.city-weather-title{
  font-size: 120%;
  font-weight: bold;
}

main{
  margin: auto;
}
h1{text-align: center;}
h2{text-align: center;}
select{
  background-color: white;
color: #000080;
padding: 5px;
font-size: 16px;
cursor: pointer;
}
body{
  background-image: url("images/clouds.png");
  background-size:100% 100%;
  background-repeat: no-repeat;
}
